.main {
  min-height: 100vh;
  background-color: #10101c;
}

.main p {
  color: #fff;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #00000c;
  position: fixed;
  user-select: none;
  z-index: 2;
}

.contact {
  position: absolute;
  right: 32px;
  gap: 16px;
}

.contact-inner {
  flex-direction: column;
  gap: 16px;
}


.contact-button {
  color: #eef;
  background: none;
  border: none;
  opacity: 0.5;
}

.contact-button:hover {
  opacity: 1;
  cursor: pointer;
}

.header-logo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 50%;
  cursor: default;
}

.header-logo > p {
  font-size: 20px;
  font-weight: 500;
}

.header-logo-text {
  display: flex;
  gap: 4px;
  font-size: 18px;
}

.header-logo-text > p {
  font-weight: 100;
  color: #eef8;
}

.caret {
  width: 1px;
  background-color: #eef6;
  animation: in-out 1.2s linear infinite;
}

.header-selectors {
  display: flex;
  gap: 16px;
  align-items: center;
}

.language {
  display: flex;
  align-items: center;
  gap: 8px;
}

.language p {
  font-size: 16px;
  font-weight: 300;
  cursor: default;
}

.toggle {
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 200px;
  width: 48px;
  height: 24px;
  padding: 2px;
  opacity: 0.7;
  background: none;
}

.toggle:hover {
  cursor: pointer;
  opacity: 1;
}

.thumb {
  background-color: #fff;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 200px;
}

.sections {
  display: flex;
  gap: 1vw;
}

.section {
  background: none;
  border: none;
  padding: 4px 8px;
  color: #fff;
}

.section:hover {
  cursor: pointer;
  color: #a0c0ec;
}

.block-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.block:first-child {
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
}

.block-title {
  font-weight: 300;
  border-bottom: 2px solid #a0c0ec;
  padding: 8px 0;
  user-select: none;
}

.block:nth-child(odd) .block-title {
  text-align: right;
}

.profile {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0006;
  border-radius: 240px 1200px 1200px 0;
}

.profile-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 16px;
  font-weight: 300;
  font-size: 18px;
  user-select: none;
}

.profile-text > p:first-child {
  font-size: 40px;
  font-weight: 500;
}

.profile-pic-container {
  width: 30%;
  aspect-ratio: 1;
  background-color: #00000c;
  border-radius: 50%;
  position: relative;
}

.profile-pic-container > * {
  width: 100%;
  border-radius: 50%;
  user-select: none;
}

.gallery {
  width: 100%;
  display: grid;
  gap: 16px;
  padding-top: 5%;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  user-select: none;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px #a0c0ec;
}

.tags {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  gap: 4px;
  top: 0;
}

.tag {
  position: relative;
  aspect-ratio: 1;
}

.description {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #0008;
  padding: 8px;
  min-height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
}

.skill {
  position: relative;
}

.skill-icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  color: #a0c0ec;
}

.skill-text {
  width: 100%;
  text-align: center;
  user-select: none;
}

.footer {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #00000c;
  position: fixed;
  bottom: 0;
  user-select: none;
  z-index: 20;
}

@keyframes in-out {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@media (max-width: 450px) {
  .main {
    padding-bottom: 80px;
  }

  .header {
    display: none;
  }

  .contact {
    display: flex;
    top: 32px;
  }

  .contact-inner {
    display: none;
  }

  .contact-button {
    font-size: 8vw;
  }

  .block {
    min-height: calc(100vh - 80px);
  }

  .block-title {
    font-size: 24px;
  }

  .profile {
    flex-direction: column-reverse;
    background: none;
    gap: 32px;
    padding: 0;
  }

  .profile-text {
    width: 100%;
    text-align: justify;
  }

  .profile-pic-container {
    width: 50vw;
    border-radius: 50%;
  }

  .gallery {
    gap: 0;
  }

  .nav-button {
    transform: translateY(calc(-50% - 20px));
  }

  .tag {
    width: 8%;
  }

  .description {
    display: none;
  }

  .description-separate {
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
    min-height: 32px;
  }

  .description-separate:not(:last-child) {
    margin-bottom: 32px;
  }

  .skills {
    gap: 16px;
  }

  .skill {
    width: 40%;
  }

  .skill-icon {
    max-height: 80px;
    font-size: 80px;
  }

  .skill-text {
    font-size: 14px;
  }

  .footer {
    padding: 16px;
  }

  .footer .sections {
    width: 100%;
    justify-content: space-evenly;
    gap: 7vw;
  }

  .footer .section {
    display: flex;
    padding: 0;
    padding-bottom: 4px;
    color: #fffa;
  }

  .footer .section:hover {
    color: #fff;
  }

  .footer .section {
    display: flex;
    font-size: 32px;
    align-items: center;
  }

  .footer .section:last-child {
    font-size: 24px;
  }

  .footer .header-logo {
    display: none;
  }

  .footer .header-selectors {
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: 451px) {
  .header {
    padding: 16px;
  }

  .header-selectors {
    width: 100%;
    justify-content: space-between;
  }

  .header-logo {
    display: none;
  }

  .section {
    font-size: 16px;
  }

  .contact {
    display: flex;
    top: 112px;
  }

  .contact-inner {
    display: none;
  }

  .contact-button {
    font-size: 7vw;
  }

  .block {
    padding-top: 112px;
  }

  .block-title {
    font-size: 28px;
  }

  .profile {
    flex-direction: column-reverse;
    background: none;
    gap: 32px;
    padding: 0;
  }

  .profile-text {
    width: 100%;
    text-align: justify;
  }

  .profile-pic-container {
    width: 40vw;
  }

  .tag {
    width: 8%;
  }

  .description {
    font-size: 14px;
  }

  .description-separate {
    display: none;
  }

  .skills {
    gap: 16px;
  }

  .skill {
    width: 30%;
  }

  .skill-icon {
    max-height: 96px;
    font-size: 96px;
  }

  .skill-text {
    font-size: 14px;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 601px) {
  .header {
    padding: 16px;
  }

  .header-selectors {
    width: auto;
  }

  .header-logo {
    display: flex;
  }

  .section {
    font-size: 16px;
  }

  .contact-button {
    font-size: 6vw;
  }

  .gallery {
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .thumbnail:hover .tags, .thumbnail:hover .description {
    animation: fade-in linear 0.1s;
    animation-fill-mode: forwards;
  }

  .tags {
    opacity: 0;
  }

  .tag {
    width: 10%;
  }

  .description {
    font-size: 14px;
    opacity: 0;
  }

  .skills {
    gap: 0;
  }

  .skill {
    width: 25%;
  }

  .skill-icon {
    max-height: 17vw;
    font-size: 12vw;
  }

  .skill-text {
    opacity: 0;
    font-size: 14px;
  }

  .skill:hover .skill-icon {
    animation: skill-highlight 0.1s linear;
    animation-fill-mode: forwards;
  }
  
  .skill:hover .skill-text {
    animation: show-skill-text 0.1s linear;
    animation-fill-mode: forwards;
  }

  @keyframes skill-highlight {
    100% {
      color: #eef;
      font-size: 17vw;
    }
  }
  
  @keyframes show-skill-text {
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 801px) {
  .profile-pic-container {
    width: 30vw;
  }

  .contact-button {
    font-size: 4.2vw;
  }

  .tag {
    width: 8%;
  }
}

@media (min-width: 1000px) {
  .block-title {
    font-size: 32px;
  }

  .contact {
    display: none;
  }

  .contact-inner {
    display: flex;
  }

  .contact-button {
    font-size: 3.6vw;
  }

  .profile {
    flex-direction: row;
    background: #00000c;
    gap: 32px;
    padding-left: 32px;
  }

  .profile-text {
    width: 60%;
  }

  .profile-pic-container {
    width: 40%;
    background: none;
  }

  .gallery {
    grid-template-columns: auto auto auto;
  }

  .tags {
    opacity: 0;
  }

  .description {
    font-size: 15px;
    opacity: 0;
  }

  .skill {
    width: 15%;
  }

  .skill-icon {
    max-height: 14vw;
    font-size: 10vw;
  }

  .skill-text {
    font-size: 15px;
  }

  @keyframes skill-highlight {
    100% {
      color: #eef;
      font-size: 14vw;
    }
  }
  
  @keyframes show-skill-text {
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 1200px) {
  .profile-text {
    width: 63%;
  }

  .contact-button {
    font-size: 48px;
  }

  .profile-pic-container {
    width: 37%;
  }
}

@media (min-width: 1440px) {
  .profile-text {
    font-size: 24px;
  }

  .profile-text p:first-child {
    font-size: 48px;
  }

  .profile-text {
    width: 67%;
  }

  .profile-pic-container {
    width: 33%;
    background: none;
  }

  .tag {
    width: 6%;
  }

  .skill {
    width: 15%;
  }

  .skill-icon {
    max-height: min(14vw, 150px);
    font-size: min(10vw, 130px);
  }

  .skill-text {
    font-size: 18px;
  }

  @keyframes skill-highlight {
    100% {
      color: #eef;
      font-size: min(14vw, 150px);
    }
  }
  
  @keyframes show-skill-text {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
}

@media (max-height: 799px) {
  .contact {
    right: 16px;
    flex-direction: column;
  }
}